
.Body{
    background-color: #9bdd6f;
    }
    
    .Contenedor{
        margin: auto;
        margin-top: 200px;
        width: 1000px;
        height: 600px;
        border-bottom-width:  200px;
        color: rgb(252, 251, 249);
        background-image: url(../IMG/FondoPerfil.webp) ;
        text-align: center;
        
    }
    
    .Usuario{
        margin-top: 0px; /* Añade espacio en la parte superior del título */
        margin-left: 1640px; /* Añade espacio a la izquierda del título */
        margin-right: 10px; /* Añade espacio a la derecha del título */
    }
    
    .TextoFechaNacimiento{
        margin-left: 100px; /* Añade espacio a la izquierda del título */
        margin-right:123px; /* Añade espacio a la derecha del título */
        margin-top: 40px;
        
    }
    
    .Date {
        height: 30px; 
        width: 170px;
    }
    /*input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
        cursor: pointer;
        border-radius: 400px;
        margin-right: 1px;
        opacity: 500;
        filter: invert(0.6);
    */
    .CompletarTexto{
        border-bottom-width: 10 ;
        height: 40px;
    }
    
    .Premium{
        color: rgb(255, 255, 255);
        margin-left: -150px; /* Añade espacio a la izquierda del título */
        margin-right:1px; /* Añade espacio a la derecha del título */
        margin-top: 40px;
    
    }
    
    .EliminarUsuario{
        color: rgb(255, 255, 255);
        margin-left: -100px; /* Añade espacio a la izquierda del título */
        margin-left: -100px; /* Añade espacio a la izquierda del título */
    
    
    }
    .Boton1{
        width: 200px;
        height: 50px; /* Esto establece la altura del botón en 50 píxeles */
        margin-left: 40%; /* Añade espacio a la izquierda del título */
        margin-top: 10px;
    }
    
    .Boton2{
        text-align: center;
        width: 200px;
        height: 50px; /* Esto establece la altura del botón en 50 píxeles */
        margin-left: 80px; /* Añade espacio a la izquierda del título */
    
    }
    .Img{
    position: absolute;
    top: 0;
    right: 0;
    }
    
    .CerrarSesion{
        margin-left: 1640px;
        float: left; /*se utiliza para especificar que un elemento debe ser retirado del flujo normal y posicionado a la izquierda oa la derecha de su contenedor */ 
        margin-top: -20px;
    }
    