@import url("https://use.typekit.net/iwy5phy.css");

* {
  font-family: "roc-grotesk", "sans-serif";
}


/*Cabeza*/

.nombres {
    display: grid;
    grid-template-columns: 6fr 6fr;
    font-weight: 400;
  }

.nombres :hover {
    font-weight:600;
    color: #ccff33; 
}