.title-fav{
    margin: 1.5em 1em;
    color: #768c99;
}

main section table{
    width: 100%;
    border:  #181818 solid 4px;
    font-size: 1.5em;
}

main section{
    width: 94%;
}

.play-boton{
    width: 80%;
    transition: all 0.2s;
}

.play-boton:hover{
    transform: translateX(0.4em);
}

.fila-principal{
    background-color: #181818;
    color: #768c99;
}
.fila-principal,
.columna-play{
    text-align: center;
}
.fila-principal,
.columna-play,
.filas,
.columnas{
    border: #181818 solid 3px;
    padding: 0.6em;
}

.columna-play{
    margin-left: 100px;
}

.filas:hover{
    outline: #ccff33 solid 4px;
}

.celda-nombre-y-fav{
    max-width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-content: center;
}

.celda-nombre-y-fav svg{
    max-width: 1.5em;
    justify-self: end;
    transition: all .2s;
}

.celda-nombre-y-fav svg:hover{
    transform: rotate(360deg) scale(1.5);
    fill: #ccff33;
    cursor: pointer;
}



/*-------------------------------------- estilos del filtrar  ----------------------------------------------*/

.pDelSelector{
    color: #768c99;
    font-size: 1.2em;
    margin-left: 1.7em;
    margin-right: 2em;
    padding-bottom: 1em;
    cursor: pointer;
    transition: all .3s;
    position: absolute;
    top: 6.1em;
    left: 22em;
}

.pDelSelector:hover{
    color: #ccff33;
    transform: translateX(10px);
}

#tiposAlbums{
    font-size: 1em;
    color: #181818;
    border: transparent;
    background-color: #768c99;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 8.1em;
    left: 38em;
}

#tiposAlbums:hover{
    outline: #ccff33 solid 2px;
}

#duracion{
    font-size: 1em;
    color: #181818;
    border: transparent;
    background-color: #768c99;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 8.1em;
    left: 50em;
}

#duracion:hover{
    outline: #ccff33 solid 2px;
}

#reproducciones{
    font-size: 1em;
    color: #181818;
    border: transparent;
    background-color: #768c99;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 8.1em;
    left: 63.2em;
}

#reproducciones:hover{
    outline: #ccff33 solid 2px;
}

#btn-filtrar{
    position: relative;
    top: -11px;
    left: 53.7em;
}

#btn-limpiar-filtros{
    position: relative;
    top: -3.04em;
    left: 59em;

}

.button-filtrar {
    align-items: center;
    background-color: #ccff33;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 1em;
    font-weight: bold;
    height: 38px;
    justify-content: center;
    line-height: 24px;
    min-width: 2em;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-filtrar:after {
  background-color: #111;
  content: "";
  border-radius: 8px;
  display: block;
  height: 38px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(5px, 5px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-filtrar:hover:after {
  transform: translate(0, 0);
}

.button-filtrar:active {
  background-color: white;
  outline: 0;
}
    
.button-filtrar:hover {
  outline: 0;
}

.mensaje-de-nunguna-coincidencia{
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 3px;
    padding: 20px;
    border-radius: 5px;
    cursor: default;
}

#seccionDelMensaje{
    background-color: red;
    opacity: .6;
}

.flechaIrArriba{
    position: relative;
    left: 48em;
    margin-bottom: 3em;
  
    width: 3em;
    border: solid #ccff33 2px;
    border-radius: 50%;
  }
  
  .flechaIrArriba:hover{
    background-color: #1c2023;
    box-shadow: 0px 0px 5px white;
  }
/*------------------------------------------------------------------------------------------------------------------------------------*/