body {
  margin: 0;
  padding: 0;
  background-color: #2c3338;
  color: white;
  display: grid;
  grid-template-columns: 1.7fr 10.3fr;
}

aside {
  padding: 0.5em;
  padding-right: 1.2em;
  position: sticky;
  top: 0;
  height: 100vh;
  width: var(--nav-width);
  background-color: #1c2023;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section {
  margin: 3.5em;
  margin-right: 0;
}

section h2 {
  font-size: 2em;
}

footer {
  background-color: black;
  grid-column: 1/3;
  text-align: center;
  min-width: 80vw;
}

nav {
  display: flex;
  flex-direction: column;
}

.aside-container {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.aside-container img {
  width: 100%;
  border-radius: 6%;
}

.boton-nav {
  padding: 1rem;
  margin: 0.3rem;
  display: flex;
  justify-content: flex-start;
}

.boton-nav > img {
  width: 25px;
}

.boton-nav > a {
  margin-left: 0.9rem;
  color: white;
  text-decoration: none;

  font-size: 2.5rem;
}

.main {
  max-width: calc(100vw - var(--nav-width));
}

.display-column {
  display: flex;
  flex-direction: column;
}

/* Id's */

.perfil {
  padding: 25px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  place-items: center;
}

.perfil .nombre-cerrar-sesion {
  display: flex;
  flex-direction: column;
  place-items: end;
  padding-right: 0.5em;
}

.perfil .nombre-cerrar-sesion p {
  margin-top: 0.4em;
  margin-bottom: 0.3em;
  font-size: 2vh;
}

.perfil .nombre-cerrar-sesion a {
  text-decoration: none;
  color: #ccff33;
}
.perfil .nombre-cerrar-sesion a:hover {
  text-decoration: underline 2px;
  color: #ccff33;
}

.perfil > a > img {
  width: 50px; /* Ajusta el tamaño de la foto de perfil */
  height: 50px;
  margin-left: 10px; /* Espacio entre el nombre y la foto de perfil */
  border-radius: 50%;
  border: 3px solid #ccff33;
  transition: all 0.2s;
}

.perfil > a > img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* Barra de búsqueda */
.barra-busqueda-container {
  display: flex;
  justify-content: flex-start;
  padding: 0 2rem 0;
}

.icon-busqueda {
  max-height: 100%;
  width: 30px;
  margin: 0 1rem 0;
}

.barra-busqueda {
  border-radius: 25px;
  font-size: 1.5rem;
  height: 2rem;
  width: 53vw;
}

.barra-busqueda:focus,
.barra-busqueda:active {
  outline: none;
}

.card-playlist {
  width: 120px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ccff33;
  text-align: center;
  border-radius: 6%;
  box-shadow: 4px 4px #ccff33;
  font-family: Inter, sans-serif;
}

.card-reciente {
  /*cambiar tama;o canciones*/
  margin: 7px;
  width: 148px;
  border: px solid #ccff33;
  border-radius: 6%;
  box-shadow: 4px 4px #ccff33;
}

.playlist-title {
  margin-top: 6rem;
  margin-bottom: 0;
}

.playlist-title,
.recientes-title,
.recomendado-Titulo {
  margin-bottom: 15px;
  margin-left: 15px;
  color: #768c99;
}

.card-playlist img,
.card-reciente img {
  width: 100%;
  border-radius: 6px;
}

.card-playlist h3,
.card-playlist h3 {
  margin: 5px;
}

.playlist-container {
  max-width: calc(100vw - var(--nav-width));
  display: flex;
  justify-content: start;
}

.reciente-containers {
  display: flex;
  justify-content: start;
}

/*barra*/

:root {
  --nav-width: 260px;
  --footer-height: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--footer-height)) !important;
}

.song-name,
.barra-reproduccion-izq-song-name {
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.song-artist,
.song-album,
.song-date-added,
.barra-reproduccion-izq-song-artist,
.player-time,
.song-duration {
  font-size: 16px;
  margin-top: 6px;
  margin-right: 15px;
  color: #898989 !important;
}

.barra-reproduccion {
  /* margin-top: 5vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  padding-bottom: 2em;
  background-color: #181818;
  position: sticky;
  bottom: 0;
  max-width: 80.8vw;
  width: 100%;
  height: var(--footer-height);
}

.barra-reproduccion-izq-like svg path {
  fill: var(--spotify-green);
}

.barra-reproduccion-izq {
  display: flex;
  align-items: center;
}

.barra-reproduccion-middle {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.barra-reproduccion-middle-buttons img {
  width: 15px;
  padding: 15px;
}

.barra-reproduccion-middle-buttons,
.barra-reproduccion-middle-slider {
  display: flex;
  justify-content: center;
}

.barra-reproduccion-middle-slider {
  display: flex;
  align-items: center;
}

.player-time {
  padding: 0 10px;
  font-size: 20px;
}

.barra-reproduccion-right-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.barra-reproduccion-right-buttons img {
  margin-right: 20px;
  width: 16px;
}

.player-slider {
  width: 50% !important;
}

/* aca le oculta el control predeterminado del propio rango que tiene el navegador asi lo podemos personalizar */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
}

/* y aca le damos el estilo del círculo ---------------------------------------------------------------------------------------------------*/
.player-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* ancho del circulito*/
  height: 20px; /* alto del circulito*/
  background: #ccff33; /*color del círculito */
  border-radius: 50%;
  cursor: pointer;
}

.player-slider input {
  width: 100%;
  height: 5px;
  background-color: #2c3338;
  border-radius: 10px;
  position: relative;
  border: none;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0 auto 8vh;
}

.display-column {
  text-align: center;
}

.display-column a:hover {
  font-weight: 600;
  color: #ccff33;
}

.nombres {
  display: grid;
  grid-template-columns: 6fr 6fr;
  font-weight: 400;
}

.nombres :hover {
  font-weight: 600;
  color: #ccff33;
}
