
body {
    min-height: 100vh;
    background-color: #2C3338;
    color: white;
    display: grid;
    grid-template-areas: 
       "nav main main main main main main main main main main main"
       "nav main main main main main main main main main main main"
       "nav main main main main main main main main main main main"
       "nav main main main main main main main main main main main"
       "rep rep rep rep rep rep rep rep rep rep rep rep"
       "foot foot foot foot foot foot foot foot foot foot foot foot" 
    ;
}

aside {
    background-color: red;
    grid-area: nav;
}


.barra-reproduccion {
    background-color: aqua;
    grid-area: rep
}

footer {
    background-color: blueviolet;
    grid-area: foot;
}


nav{
    display: flex;
    flex-direction: column;
}

nav a{
    color: white;
    text-decoration: none;

    padding-top: 2rem;
    margin-top: 2rem;
    font-size: 2.5rem;
    margin: auto;
}


/* main */


/* Clases */

.display-column {
    display: flex;
    flex-direction: column;
}


/* Id's */

.profile-container {
    color: #fff; /* Cambia esto al color de texto que desees */
    padding: 25px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.profile-container img {
    width: 50px; /* Ajusta el tamaño de la foto de perfil */
    height: 50px;
    margin-left: 10px; /* Espacio entre el nombre y la foto de perfil */
    border-radius: 50%;
    border: 2px solid #CCFF33;
    
   
}

.card-playlist {
    width: 100px;
    margin: 12px;
    padding: 10px;
    border: 2px solid #CCFF33;
    text-align: center;
    border-radius: 6%;
    box-shadow: 4px 4px #CCFF33;
    font-family: Inter,sans-serif;

}

.card-reciente { /*cambiar tama;o canciones*/
    margin: 10px;
    width: 128px;
    border: px solid #CCFF33;
    border-radius: 6%;
    box-shadow: 4px 4px #CCFF33;
}

.playlist-title{
    margin-top: 6rem;
    margin-bottom: 0;
}

.playlist-title,
.recientes-title,
.recomendado-Titulo{
    margin-bottom: 15px;
    margin-left: 15px;
    color: #617077
    

    
}

.card-playlist img,
.card-reciente img{
    width: 100%;
    border-radius: 6px;
}

.card-playlist h3,
.card-playlist h3 {
    margin: 5px;
}

.playlist-container {
    display: flex;
    justify-content: start;
}

.reciente-containers{
    display: flex;
    justify-content: start;
}







