@import url("https://use.typekit.net/iwy5phy.css");

* {
  font-family: "roc-grotesk", "sans-serif";
}



/*Este el pie del home,favoritos y creo que de bibloteca,debido a que tiene otra estructura*/
.nombres {
    display: grid;
    grid-template-columns: 6fr 6fr;
    font-weight: 400;
  }

.nombres :hover {
    font-weight:600;
    color: #ccff33; 
}