@import url("https://use.typekit.net/iwy5phy.css");

* {
  font-family: "roc-grotesk", "sans-serif";
}



/*Este el pie del home,favoritos y creo que de bibloteca,debido a que tiene otra estructura*/
.nombres {
    display: grid;
    grid-template-columns: 6fr 6fr;
    font-weight: 400;
  }

.nombres :hover {
    font-weight:600;
    color: #ccff33; 
}

/*Pie de las paginas(generico)*/
.Pie {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  text-align: center;
  height: 150px;
  font-weight:600;
  color: #ffffff; 
}

.Pie h2 {
  margin-bottom: 10px;
}

.Pie h3 {
  margin: 5px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.Pie :hover {
  font-weight: 600;
  color: #ccff33;
}